.contacts {
  background-color: $color-default-white;
}

.contacts__container {
  padding: 57px clamp(30px, $padding-desktop * 2, 170px) 64px 124px;

  @include vp-1199 {
    max-width: 800px;
    margin: 0 auto;
    padding: 62px 133px 61px;
  }

  @include vp-767 {
    padding: 63px clamp(15px, $padding-mobile, 45px) 66px;
  }
}

.contacts__title {
  margin: 0 0 37px -4px;
  font-weight: 600;
  line-height: normal;

  @include vp-1199 {
    margin: 0;
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 37px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 170px 110px;
  grid-template-rows: 1fr 1fr;
  gap: 18px 120px;

  @include vp-1199 {
    grid-template-columns: 50% 1fr;
    gap: 21px 63px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.contacts__item {
  list-style-type: none;
  font-family: $font-roboto-condensed-sans-serif;

  span {
    font-size: 14px;
    line-height: 1.52em;
    font-family: $font-roboto-condensed-sans-serif;

    @include vp-1199 {
      font-size: 18px;
    }
  }
}

.contacts__item:nth-child(1) {
  @include vp-767 {
    order: 1;
  }
}

.contacts__item:nth-child(2) {
  @include vp-767 {
    order: 3;
  }
}

.contacts__item:nth-child(3) {
  @include vp-767 {
    order: 2;
  }
}

.contacts__item:nth-child(4) {
  @include vp-767 {
    order: 4;
  }
}

.contacts__item-header {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.contacts__item-link {
  font-size: 14px;
  line-height: 21px;
  color: $color-sapphire;

  @include vp-1199 {
    font-size: 18px;
  }
}
