.feature {
  display: flex;

  font-family: $font-roboto-condensed-sans-serif;
}

.feature--special {
  padding: 77px 30px 62px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  text-align: center;

  .feature__number {
    color: $color-default-white;
    margin-bottom: -12px;
    -webkit-text-fill-color: unset;

    @include vp-1199 {
      font-size: 74px;
      padding-top: 10px;
      margin-bottom: -21px;
    }

    @include vp-767 {
      padding-top: 15px;
      margin-bottom: -26px;
    }
  }

  .feature__number-description {
    color: $color-default-white;
    font-size: 26px;
    line-height: 39px;
    font-weight: 700;

    margin-bottom: 31px;

    @include vp-1199 {
      font-size: 22px;
      margin-bottom: 12px;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }

  .feature__text-description {
    margin: 0;
  }
}

.feature__main {
  @include vp-767 {
    margin-bottom: 5px;
  }
}

.feature__number {
  margin: -41px 0 -20px;
  font-size: 71px;
  line-height: 1.5em;
  font-weight: 700;
  background-color: $color-crimson;
  background-image: linear-gradient(118deg, #d10a42 1%, #1c3374 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 58px;
  }

  @include vp-767 {
    margin-top: -46px;
  }
}

.feature__number-description {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: $color-persian-blue;
}

.feature__text-title {
  margin: -19px 0 5px 30px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;

  @include vp-1199 {
    margin-top: -26px;
    margin-bottom: 0;
    letter-spacing: -0.05em;
  }

  @include vp-767 {
    margin: 0;
  }
}

.feature__text-description {
  margin: 0;
  margin-left: 30px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  @include vp-767 {
    margin: 0;
  }
}
